{% include "main.html" %}
{% block body %}
    <div class="container">
    <div class="row">
        <h2>{{ deck.name }}</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm">
            <p>by {{ deck.player }}</p>
        </div>
        <div class="col-sm">
            <p class="lead">{{ deck.placed }}</p>
        </div>
    </div>
    <div class="row justify-content-center my-3">
        <div class="col-3" id="copySuccessAlertContainer"></div>
    </div>
    <div class="row justify-content-center my-3">
        <div class="col-1">
            <button type="button" onclick="copyDeck()" data-toggle="tooltip" data-placement="top"
                    title="Copy to clipboard" id="copyDeckButton" class="btn btn-sm btn-outline-dark"
                    style="color:whitesmoke">
                Copy
            </button>
        </div>
        <div class="col-2">
            <button type="button" onclick="downloadDeck()" class="btn btn-sm btn-outline-dark" style="color:whitesmoke">
                Download .txt
            </button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-3">
            <code style="white-space: pre"><p class="small" id="deckContents">{{ deck.contents }}</p></code>
        </div>
    </div>
</div>


<script>

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    const copyDeck = () => {
        const range = document.createRange();
        range.selectNode(document.getElementById("deckContents"));
        window.getSelection().removeAllRanges(); // clear current selection
        window.getSelection().addRange(range); // to select text
        document.execCommand("copy");
        window.getSelection().removeAllRanges();// to deselect
        $('#copyDeckButton').attr("title", "Copied!").tooltip("_fixTitle").tooltip("show").attr("title", "Copy to clipboard").tooltip("_fixTitle");
    };

    function download(filename, text) {
        var element = document.createElement('a');
        element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
        element.setAttribute('download', filename + '.txt');

        element.style.display = 'none';
        document.body.appendChild(element);

        element.click();

        document.body.removeChild(element);
    }

    const downloadDeck = () => {
        download('{{ deck.name }}', $('#deckContents').html());
    };

</script>

{% endblock %}