{% block game_types %}
    <style>
        .card {
            color: #FFFFFF;
        }

        .super-rounded {
            border-radius: 5em;
        }
    </style>
    {% for game_type in game_types %}
        <div class="row m-4" onclick="getDeck('{{ game_type }}')">
            <div class="col-sm-5 mx-auto">
                <div class="card super-rounded bg-dark {{ game_types[game_type].get('color') }}">
                    <div class="card-body">
                        <div class="row center">
                            <div class="col-sm-6 text-center my-auto">
                                <p class="h2 font-weight-bold text-capitalize">{{ game_type }}</p>
                            </div>
                            <div class="col-sm-6">
                                <img
                                        src="{{ url_for('static', filename=game_types[game_type].get('image')) }}"
                                        class="mw-100 super-rounded float-right"
                                        alt="{{ game_type.capitalize() }}"
                                        style="opacity: .75;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <script>

    const getDeck = (game_type) => {
      window.location.href = '/' + game_type.toLowerCase();
    };
    </script>
{% endblock %}