{% include "main.html" %}
{% include "game_type_card.html" %}
{% block body %}
    <div class="container h-100 d-flex justify-content-center">
        <div class="mx-auto">
            <p class="lead m-1 p-2">
                Get a random magic the gathering deck from recent tournaments in one tap; making pickup games quick
                and easy.
            </p>
            {% block game_types %}{% endblock %}
            <p class="lead m-1 p-2">
                Inspired by <a href="https://github.com/Cockatrice/Cockatrice">Cockatrice</a>.
            </p>
        </div>
    </div>
{% endblock %}